@import "tailwindcss";

@layer components {
  .search-btn {
    @apply bg-blue-900 text-white p-2.25 px-3 rounded-md hover:bg-gray-700 transition cursor-pointer;
  }
}

body {
  @apply bg-gray-900 text-white;
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}